.presentation {
  color: aqua;
  width: 9px;
  border-radius: 50px;
}
.slick-dots {
  position: absolute;
  display: flex;
  list-style: none;
  bottom: 150px;
  left: 380px;
  & li {
    & button {
      background-color: #fff;
      color: aqua;
      border-radius: 50px;
      margin: 0px 5px;
      padding: 5px 5px;
      font-size: 0;
      &:hover,
      :active {
        border: 1px solid #fff;
      }
    }
  }
}
.slider-arrows {
  position: absolute;
  z-index: 2;
  bottom: 150px;
  left: 600px;
  &__left {
    left: 320px;
  }
}
